
h2{
    border: 1px solid blue;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 18px;
}
.options{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 15px;
    padding: 10px;
    background: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.buttons{
    display: flex;
    gap: 10px;

}
button{
    background: white;
    border: none;
    padding: 5px 10px; 
    border-radius: 5px;
    cursor: pointer;
}
.result-block {
    text-align: center;
} 


   